Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
series1 = pd.Series([4, 8, 15, 16, 23, 42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
data = [12, 15, 45, 56, 95, 48, 35, 81, 49, 55]
series2 = pd.Series(data)
print(series2)

0    12
1    15
2    45
3    56
4    95
5    48
6    35
7    81
8    49
9    55
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [4]:
name = ['Alice', 'Bob', 'Claire']
age = [25, 30, 27]
gender = ['Female', 'Male', 'Female']
df = pd.DataFrame(list(zip(name, age, gender)), columns = ['Name', 'Age', 'Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
# Dataframe is a combination of multiple of series or it is similar to table that have multiple rows and columns.
# pandas.Series is a particular column or we say that subset of dataframe that cn contain only single column.
# Example of dataframe
print(df)
#example of series
print(df['Name'])

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [14]:
# some common functions use to manipulate pandas DataFrame
# head(): Returns the first n rows of the DataFrame.
# tail(): Returns the last n rows of the DataFrame.
# info(): Provides a summary of the DataFrame, including the data types and column names.
# describe(): Generates descriptive statistics of the DataFrame, such as count, mean, min, max, etc.
# shape: Returns the dimensions of the DataFrame (number of rows, number of columns).
# columns: Returns the column labels of the DataFrame.
# index: Returns the row labels of the DataFrame.
# head():
df.head(2)
# tail():
df.tail(2)
# info():
df.info()
# describe():
df.describe()
# shape:
df.shape
# columns:
df.columns
# index:
df.index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

RangeIndex(start=0, stop=3, step=1)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
# Here Series and DataFrame are mutable in nature means the element of both the datatypes have been modified.
# DataFrame is a two-dimensional structure that can contain data in the form of table.
# A Series in Pandas is a one-dimensional labeled array that can hold any data type. It is mutable, meaning its elements can be modified.
# Panel, on the other hand, was a three-dimensional data structure in earlier versions of Pandas. However, it has been deprecated and is no longer recommended for use.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
import pandas as pd

# Create a Series for the 'Name' column
names = pd.Series(['John', 'Jane', 'Alice'])

# Create a Series for the 'Age' column
ages = pd.Series([25, 30, 35])

# Create a Series for the 'Gender' column
gender = pd.Series(['Female', 'Male', 'Female'])
# Create a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': gender})

# Print the DataFrame
print(df)

    Name  Age  Gender
0   John   25  Female
1   Jane   30    Male
2  Alice   35  Female