Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
# Database is the collection of organized data that is structured and stored electronically on a computer system. Databases can store data in the form of tables depending upon
# the type of database. The database's primary goal is to store a huge amount of data.
# Many dynamic websites on the Internet today are stored in databases.  For writing and retrieving data, most databases utilize structured query language (SQL).
# This data is mostly managed by database administrators and accessed by data scientists, data analysts, etc.
# Difference between SQL and NOSQL databases are:
# * SQL  is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.
# * SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
# * SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.
# * Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. these databases objects include table, locations, schmass,
and indexes.
* CREATE: CREATE command is used to create an object in databases.
        syntax: CREATE TABLE [table name] ([column definitions]);
        example: CREATE TABLE student(
                                      StudentID int,
                                      LastName varchar(255),
                                      FirstName varchar(255));
* DROP: DROP command is used to delete the objects in a databases. drcop command can't be undone means once an object is deleted it can can not be recovered.
        syntax: DROP object-type object-name
        example: DROP TABLE student
* ALTER: ALTER command is used to make modifications in database objects.
        syntax: ALTER object-type object-name parameters;
        example: ALTER TABLE student
                 ADD Email varchar(255);
* TRUNCATE: TRUNCATE command is used to delete all data from the table.
        syntax: TRUNCATE table table-name
        example: TRUNCATE table student

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# DML stands for Data Manipulation Language. The DML commands in Structured Query Language (SQL) are responsible for making any change in the data present in SQL databases.
# The change can be anything, it can be inserting new records in the table, or altering the data present in the table or removing some existing data from the database table.
* Insert: INSERT command is used to insert data into rows of table.
        syntax: INSERT INTO table_name
                VALUES (value_1, value_2, .... value_n);
        example: INSERT INTO student
                VALUES (25, "CHAUHAN", "RHUL");
* UPDATE: UPDATE command is used to update the value of a row in table.
        syntax: UPDATE table_name
        SET col_1 = value_1, col_2 = value_2,...
        WHERE condition;
        example: UPDATE student
                 SET emmail="rahulchauhan02@gmail.com"
                 WHERE StudentID = 25;
* DELETE: DELETE command is used to delete single or multiple records from table
        syntax: DELETE FROM table_name WHERE condition;
        example: DELETE FROM student WHERE StudentID=25

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the
 basis of the query supplied to them.
 DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to
 perform actions on it
 syntax: SELECT * from table-name
 example: SELECT * FROM student where StudentId < 26;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary key: it is unique key constraints that can contain unique value also its not null. these are the columns that uniquely distinguish all the rows
            like in case of student table we make studentID as a Primary key because it is unique for all student
            example: CREATE TABLE student (
                     StudentID int NOT NULL PRIMARY KEY,
                     LastName varchar(255) NOT NULL,
                     FirstName varchar(255));
foreign key: A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two
            separate instances of an entity. like if there is another table of fee details so here studentID is the foriegn key for student table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Use the cursor to execute SQL queries
mycursor.execute("SELECT * FROM yourtable")

# Fetch all the rows from the result set
result = mycursor.fetchall()

# Loop through the rows and print the data
for row in result:
  print(row)

# Close the cursor and the connection
mycursor.close()
mydb.close()


we create a cursor object using the cursor() method of the connection. The cursor allows us to execute SQL queries and fetch results from the database.

The execute() method of the cursor is used to execute SQL queries. we can pass the SQL query as a string to this method.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
* FROM:	Tables are joined to get the base data.
* WHERE:	The base data is filtered.
* GROUP BY:	The filtered base data is grouped.
* HAVING:	The grouped base data is filtered.
* SELECT:	The final data is returned.
* ORDER BY:	The final data is sorted.
* LIMIT:	The returned data is limited to row count.