Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sortedList = sorted(players, key = lambda x : x[1],reverse=True)
print(sortedList)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [5]:
numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
str_tuple = tuple(map(lambda x: str(x), numbers))
print(str_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [6]:
import functools
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
product = functools.reduce(lambda x,y: x*y, data)
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [9]:
data = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: x%2==0 and x%3==0, data))
print(result)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [13]:
data = ['python', 'php', 'aba', 'radar', 'level']
def palindrome(item):
  item_copy = item
  rev = item[::-1]
  if rev == item_copy:
    return "palindrome"
  else:
    return "not palindrome"
for name in data:
  print(name + " is " + palindrome(name))

python is not palindrome
php is palindrome
aba is palindrome
radar is palindrome
level is palindrome